/* Styles pour distinguer les liens internes et externes */

/* Liens externes : icône et style différent */
a.external-link {
  position: relative;
  padding-right: 1.2em;
}

/* Icône pour les liens externes (flèche sortante) */
a.external-link::after {
  content: " ↗";
  font-size: 0.85em;
  opacity: 0.7;
  margin-left: 0.2em;
  text-decoration: none;
}

/* Style différent pour les liens externes au survol */
a.external-link:hover {
  text-decoration: underline;
}

/* Liens internes : style normal (pas d'icône) */
a.internal-link {
  /* Style normal pour les liens internes */
}

