/* Styles pour distinguer les liens internes et externes */

/* Liens externes : icône et style différent */
a.external-link {
  position: relative;
  padding-right: 0.10em;
}

/* Icône pour les liens externes (flèche sortante) - style similaire à Wikipedia */
a.external-link::after {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.25em;
  margin-right: 0;
  vertical-align: baseline;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffffff' d='M11 10c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V2c0-.6.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1H3v6h6V6c0-.6.4-1 1-1s1 .4 1 1v4z'/%3E%3Cpath fill='%23ffffff' d='M8 1c0 .6.4 1 1 1h.6L6.3 5.3c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0L11 3.4V4c0 .6.4 1 1 1s1-.4 1-1V1c0-.6-.4-1-1-1H9c-.6 0-1 .4-1 1z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  text-decoration: none;
  position: relative;
  top: 0.1em;
}

/* Style différent pour les liens externes au survol */
a.external-link:hover {
  text-decoration: underline;
}

a.external-link:hover::after {
  opacity: 1;
}

/* Liens internes : style normal (pas d'icône) */
a.internal-link {
  /* Style normal pour les liens internes */
}

