{% for logiciel in include.software_list %}
  {% if forloop.first %}
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Description</th>
      <th>Installation</th>
    </tr>
  {% endif %}


  {% capture url_internal %}
  {% if logiciel.url_internal %}
    {% assign page_url = '/wiki/linux/soft/' | append: logiciel.url_internal | append: '/' %}
    <a href="{{ page_url | relative_url }}">{{ logiciel.nom }}</a>
  {% else %}
    {{ logiciel.nom }}
  {% endif %}
  {% endcapture %}

  {% capture url_apt %}
  {% if logiciel.apt %}
    {% if logiciel.apt contains "http" %}
    <a href="{{ logiciel.apt }}">{{ logiciel.apt }}</a>
    {% else %}
      <a href="apt://{{ logiciel.apt }}">apt://{{ logiciel.apt }}</a>
    {% endif %}
  {% endif %}
  {% endcapture %}

  {% capture url_doc_ubuntu_fr %}
  {% if logiciel.url_doc_ubuntu_fr %}<a href="{{ logiciel.url_doc_ubuntu_fr }}">{{ logiciel.nom }}</a>{% endif %}
  {% endcapture %}

  {% capture url_website %}
  {% if logiciel.url_website %}<a href="{{ logiciel.url_website }}">{{ logiciel.nom }}</a>{% endif %}
  {% endcapture %}

  {% capture url_repository %}
  {% if logiciel.url_repository %}<a href="{{ logiciel.url_repository }}">{{ logiciel.nom }}</a>{% endif %}
  {% endcapture %}

  {% if logiciel.url_internal %}
    {% assign page_path = '_wiki/linux/soft/' | append: logiciel.url_internal | append: '.md' %}
    {% assign wiki_page = site.wiki | where: "path", page_path | first %}
    {% if wiki_page %}
      {% assign content_internal = wiki_page.content | strip %}
    {% else %}
      {% assign content_internal = "" %}
    {% endif %}
  {% else %}
    {% assign content_internal = "" %}
  {% endif %}

  <!-- Ligne principale visible -->
  <tr>
    <td style="vertical-align: top;">
      <button class="toggle-button">+</button>
    </td>
    <td style="vertical-align: top;">{{ url_internal }}</td>
    <td>{{ logiciel.description }}</td>
    <td>{{ url_apt }}</td>
  </tr>

  <!-- Ligne supplémentaire cachée -->
  <tr class="toggle-content" style="display: none;">
    <td></td><td colspan="3">
      <div style="max-width: 800px; margin: 0 auto; padding: 10px;">
        {% include linux/soft/software_info.html logiciel=logiciel %}
        <div style="margin-top: 15px;">
          {{ content_internal | markdownify }}
        </div>
      </div>
    </td>
  </tr>
{% endfor %}

{% if include.software_list.size > 0 %}
  <!-- Ligne de séparation entre les catégories -->
  <tr><td colspan="4" style="border-top: 1px dashed #B5E852;"></td></tr>
{% endif %}