{% for logiciel in include.software_list %}
  {% if forloop.first %}
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Description</th>
      <th>Installation</th>
    </tr>
  {% endif %}

  {% capture url_internal %}
  {% if logiciel.url_internal %}<a href="{{ logiciel.url_internal }}">{{ logiciel.nom }}</a>{% else %}{{ logiciel.nom }}{% endif %}
  {% endcapture %}

  {% capture url_apt %}
  {% if logiciel.apt %}
    {% if logiciel.apt contains "http" %}
    <a href="{{ logiciel.apt }}">{{ logiciel.apt }}</a>
    {% else %}
      <a href="apt://{{ logiciel.apt }}">apt://{{ logiciel.apt }}</a>
    {% endif %}
  {% endif %}
  {% endcapture %}

  {% capture url_doc_ubuntu_fr %}
  {% if logiciel.url_doc_ubuntu_fr %}<a href="{{ logiciel.url_doc_ubuntu_fr }}">{{ logiciel.nom }}</a>{% endif %}
  {% endcapture %}

  {% capture url_website %}
  {% if logiciel.url_website %}<a href="{{ logiciel.url_website }}">{{ logiciel.nom }}</a>{% endif %}
  {% endcapture %}

  {% capture url_repository %}
  {% if logiciel.url_repository %}<a href="{{ logiciel.url_repository }}">{{ logiciel.nom }}</a>{% endif %}
  {% endcapture %}

  {% capture content_internal %}
  {% if logiciel.url_internal %}
    {% include {{ logiciel.url_internal }}.md %}
  {% endif %}
  {% endcapture %}

  <!-- Ligne principale visible -->
  <tr>
    <td>
      <button class="toggle-button">+</button>
    </td>
    <td>{{ url_internal }}</td>
    <td>{{ logiciel.description }}</td>
    <td>{{ url_apt }}</td>
  </tr>

  <!-- Ligne supplémentaire cachée -->
  <tr class="toggle-content" style="display: none;">
    <td></td><td colspan="3">
      <strong>Ubuntu-fr:</strong> {{ url_doc_ubuntu_fr }}<br>
      <strong>Site:</strong> {{ url_website }}<br>
      <strong>Repo:</strong> {{ url_repository }}<br>
      {{ content_internal | markdownify }}
    </td>
  </tr>
{% endfor %}

{% if include.software_list.size > 0 %}
  <!-- Ligne de séparation entre les catégories -->
  <tr><td colspan="4" style="border-top: 1px dashed #B5E852;"></td></tr>
{% endif %}